<html>
  <head>
    <title>Contact Steve</title>
  </head>
  <body>
    <div>
      <form action="/thanks" method="POST">
        <label for="fullName">*First & Last Name:</label>
        <input id="fullName" name="fullName" type="text"> </br>

        <label for="email">*Email:</label>
        <input id="email" name="email" type="text"> </br>

        <label for="company">*Company:</label>
        <input id="company" name="company" type="text"> </br>

        <label for="phoneNumber">Phone Number (optional) :</label>
        <input id="phoneNumber" name="phoneNumber" type="text"> </br>

        <label for="contactMessage">*Message:</label>
        <textarea id="contactMessage" name="contactMessage" type="text"></textarea>

        <input type="submit" />
      </form>
    </div>
  </body>
</html>