<html>
  <head>
    <title>Steve Thanks You</title>
    <link rel="stylesheet" href="style.css">
  </head>
  <body class='thankyou'>
    <div>
      Thank you <%= contact.fullName %> , Steven will get back to you as soon as possible!
    </div>
  </body>
</html>