<html>
  <head>
    <title>Steve Thanks You</title>
  </head>
  <body>
    <div>
      Thank you <%= contact.fullName %> , Steven will get back to you as soon as possible!
    </div>
  </body>
</html>